* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  position: static;
}

header {
  display: inline-block;
  margin-top: 40px;
  margin-left: 40px;
}

.link-header {
  font-size: 14px;
  font-weight: 500;
  color: #17233d;
  margin-right: 30px;
  cursor: pointer;
}

.btn-sign {
  width: 120px;
  height: 40px;
  background-color: #6fbf44;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.img-texto {
  margin-top: 30px;
  margin-left: 100px;
}

.bloco-img {
  width: 550px;
  height: 450px;
  display: inline-block;
}

img {
  width: 450px;
  height: 400px;
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  color: #333333;
  margin-bottom: 30px;
}

.bloco-texto {
  width: 400px;
  height: 400px;
  display: inline-block;
  left: 90px;
  bottom: 90px;
  position: relative;
}

.link-texto {
  font-size: 18px;
  font-weight: 600;
  color: #6fbf45;
  top: 50px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    height: 100vh;
    position: static;
    align-items: center;
    flex-direction: column;
  }
  header {
    display: none;
  }

  .btn-sign {
    margin-top: 30px;
    margin-left: 350px;
  }

  .bloco-texto {
    width: 80%;
    height: auto;
    top: 200px;
    display: block;
    text-align: center;
    position: absolute;
  }

  h1 {
    font-size: 38px;
    line-height: 44px;
  }

  p {
    font-size: 20px;
    line-height: 32px;
  }

  .bloco-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    top: 450px;
    position: relative;
    align-items: center;
  }

  img {
    width: 470px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
