* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.Pai {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: static;
}

header {
  display: inline-block;
  position: absolute;
  margin-top: 40px;
  margin-left: 60px;
  cursor: pointer;
}

.link-1 {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  color: #989d9c;
}

.link-1:active {
  opacity: 0.5;
}

.link-2 {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  color: #989d9c;
}

.link-2:active {
  opacity: 0.5;
}

.link-3 {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  color: #989d9c;
}

.link-3:active {
  opacity: 0.5;
}

.link-4 {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  color: #989d9c;
}

.link-4:active {
  opacity: 0.5;
}

.link-5 {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
  color: #989d9c;
}

.link-5:active {
  opacity: 0.5;
}

.btn-login {
  width: 110px;
  height: 35px;
  background: #665ae1;
  border-radius: 30px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
  position: absolute;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

.btn-login:active {
  opacity: 0.7;
}

.Imagem {
  display: inline-block;
  left: 130px;
  position: relative;
}

img {
  width: 450px;
  height: 400px;
  top: 130px;
  position: absolute;
}

.box {
  width: 515px;
  height: auto;
  display: inline-block;
  position: absolute;
  right: 130px;
  top: 200px;
}

h1 {
  font-size: 80px;
  width: 513px;
  height: 122px;
  font-weight: 800;
  color: #515151;
  bottom: 40px;
  position: relative;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  width: 448px;
  height: 71px;
  color: #515151;
  top: 60px;
  position: absolute;
}

p {
  font-size: 20px;
  width: 430px;
  height: 87px;
  color: #7d7d7d;
  top: 130px;
  text-align: justify;
  position: absolute;
}

.btn-explore {
  width: 200px;
  height: 50px;
  background: #adff00;
  border: none;
  box-shadow: #515151;
  border-radius: 40px;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  top: 230px;
  position: absolute;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

/*.btn-explore :hover {
  opacity: 0.6;
}*/

.btn-explore:active {
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .Pai {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: static;
    padding: 0;
    margin: 0;
  }

  header {
    display: none;
  }

  .Imagem {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    position: static;
    padding: 0;
  }

  img {
    width: 80%;
    height: auto;
    margin: 100px auto;
    display: block;
    position: static;
  }

  .box {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    position: static;
    text-align: center;
    padding: 0 20px;
  }

  h1 {
    width: 100%;
    font-size: 48px;
    font-weight: 900;
    color: #515151;
    position: static;
    margin: 20px 0 0 0;
    padding: 0;
  }

  h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    color: #515151;
    position: static;
    margin: 10px 0 30px 0;
    padding: 0;
  }

  p {
    display: none;
  }

  .btn-explore {
    width: 200px;
    height: 50px;
    display: block;
    position: static;
    margin: 0 auto 10px;
  }
}
